$colors: (
    // text color and btn color
    grey-blue-color:#859BA6,
    white-color: #fff,
    // contacts color
    black-color : #333333,
    desctop-modal-bgc: rgba(51, 51, 51, 0.1),

    // invalid form
    red-color : #ff0000,
    rose-color : #ffcccc,
);
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

@function getColor($key) {
    @return map-get($colors, $key);
}